<div class="card" data-category="<%= wine.category %>" data-country="<%= wine.designation %>" data-year="<%= wine.year%>">
  <%= link_to wine_path(wine), class: "link-wine" do%>
    <div class="card-wine-img">
      <%= cl_image_tag wine.photo.key, crop: :fill %>
    </div>
    <div class="ratings">
      <i id="ratingstar"class="fas fa-star"></i>
      <% if rating != nil %>
        <p id="notation"> <%= wine.reviews.average(:rating).round(2) %> </p>
      <% end %>
    </div>
  <% end %>
    <div class="infos-quantity">
      <div class="infos">
        <p id="wine_name"> <%= wine.name %> </p>
        <p id='vineyard-infos'> <%= wine.vineyard %> </p>
      </div>
      <div class="quantity">
        <p> <%= wine.price %> € </p>
      </div>
    </div>
    <div class="buttons-action">
      <button class="add_to_basket_button" data-toggle="modal" data-target="#wine-modal-<%= wine.id %>">Ajouter au panier</button>
    </div>
</div>


<div class="modal fade" id="wine-modal-<%= wine.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
                <h5 class="modal-title">Récapitulatif achat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <div class="wine-img">
                <div class="card-wine-img">
                    <%= cl_image_tag wine.photo.key, crop: :fill %>
                </div>
            </div>
            <div class="form-order">
              <%= simple_form_for ([@order, @order_wine]) do |f|%>
              <%= f.input :quantity_of_wine, input_html: { value:"1", min: 1 }, :label => 'Quantité' %>
              <%= f.input :wine_id, input_html: { value: wine.id }, as: :hidden %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-annuler-modal-livraison" data-dismiss="modal">Annuler</button>
          <%= f.submit 'Ajouter au panier', class: "btn-valider-payer-modal-livraison" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
