<div class="card">
  <%= link_to wine_path(wine), class: "link-wine" do%>
    <div class="card-wine-img">
      <%= cl_image_tag wine.photo.key, crop: :fill %>
    </div>
  <% end %>
  <div class="infos-quantity-actions">
    <div class="infos-quantity">
      <div class="infos">
        <p> <%= wine.name %> </p>
        <p> <%= wine.vineyard %> </p>
      </div>
      <div class="quantity">
        <p> <%= wine.price %> € </p>
      </div>
    </div>
    <div class="buttons-action">
      <button>
        <p class="btn-add-cart" data-toggle="modal" data-target="#wine-modal-<%= wine.id %>">Ajouter au panier</p>
      </button>
      <button>
        <p>Se faire livrer</p>
      </button>
    </div>
  </div>
</div>
<div class="modal fade" id="wine-modal-<%= wine.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex">
        <div class="wine-img">
          <div class="card-wine-img">
            <%= cl_image_tag wine.photo.key, crop: :fill %>
          </div>
        </div>
        <div class="form-quantity">
          <%= simple_form_for ([order, @order_wine]) do |f|%>
            <%= f.input :quantity_of_wine %>
            <%= f.input :wine_id, input_html: { value: wine.id }, as: :hidden %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <%= f.submit 'Ajouter au panier', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
