<div class="cards-container-all">
  <h2> Mes bouteilles </h2>
  <div class="cards-all">
    <% @wineboxes.each do |winebox| %>
      <div class="card" data-category="<%= winebox.wine.category %>" data-country="<%= winebox.wine.country %>" data-year="<%= winebox.wine.year%>">
        <%= link_to wine_path(winebox.wine), class: "link-wine" do%>
          <div class="card-wine-img">
            <%= cl_image_tag winebox.wine.photo.key, crop: :fill %>
          </div>
          <div class="ratings">  
            <i id="ratingstar"class="fas fa-star"></i> 
            <p id="notation"> <%= winebox.wine.reviews.average(:rating) %> </p>   
          </div>
       <% end %>
        <div class="infos-quantity-actions">
          <div class="infos-quantity">
            <div class="infos">
              <p> <%= winebox.wine.name %> </p>
              <p id='vineyard-infos' > <%= winebox.wine.vineyard %> </p>
            </div>
            <div class="quantity">
              <p> <%= winebox.quantity_of_wine %> <i id="bottlewine" class="fas fa-wine-bottle"></i> </p>
            </div>
          </div>
          <div class="buttons-action">
            <p class="add_to_basket_button" data-toggle="modal" data-target="#wine-modal-<%= winebox.wine_id%>">Ajouter au panier</p>
            <p class="delivery_button" data-toggle="modal" data-target="#delivery-modal-<%= winebox.wine_id %>">Se faire livrer</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% @wineboxes.each do |winebox| %>
    <div class="modal fade" id="wine-modal-<%= winebox.wine_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Récapitulatif achat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <div class="wine-img">
                <div class="card-wine-img">
                    <%= cl_image_tag winebox.wine.photo.key, crop: :fill %>
                </div>
            </div>
            <div class="form-order">
            <%= simple_form_for ([@order, @order_wine]) do |f|%>
                <%= f.input :quantity_of_wine %>
                <%= f.input :wine_id, input_html: { value: winebox.wine_id }, as: :hidden %>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="stock-btn" data-dismiss="modal">Annuler</button>
            <%= f.submit 'Ajouter au panier', class: "modal-button" %>
        </div>
        <% end %>
        </div>
    </div>
    </div>


    <div class="modal fade" id="delivery-modal-<%= winebox.wine_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Récapitulatif livraison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <div class="wine-img">
                <div class="card-wine-img">
                    <%= cl_image_tag winebox.wine.photo.key, crop: :fill %>
                </div>
            </div>
            <div class="form-delivery">
            <%= simple_form_for ([@delivery, @delivery_product]) do |f|%>
                <%#= f.simple_fields_for :delivery do |d_f| %>
                <%#= d_f.input :date, label: "Date de livraison", as: :string, required: false, input_html: {id: "delivery_date"}%>
                <%#= end %>
                <%= f.input :quantity_of_wine %>
                <%#= f.input :delivery_address, input_html: { value: current_user.address }, as: :hidden%>
                <%= f.input :wine_id, input_html: { value: winebox.wine_id }, as: :hidden %>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="stock-btn" data-dismiss="modal">Annuler</button>
            <%= f.submit 'Se faire livrer', class: "modal-button" %>
        </div>
        <% end %>
        </div>
    </div>
    </div>
<% end %>