<div class= "deliveries_title">
  <h1>Vos commandes passées :</h1>
</div>

<div class="past_deliveries">
  <% @my_orders.where(status: ["paid"]).each do |order| %>
    <div class="notification-content">
      <div class="cart-product">
        <h5>Status</h5>
        <p><%= order.status %></p>
      </div>
      <% order.order_wines.each do |order_wine| %>
        <p><%= cl_image_tag order_wine.wine.photo.key, crop: :fill %> </p>
        <div class="cart-product">
          <h5>Nom du vin</h5>
          <p><%= order_wine.wine.name %> </p>
        </div>
        <div class="cart-product">
          <h5>Quantité</h5>
          <p><%= order_wine.quantity_of_wine %> </p>
        </div>
      <% end %>
      <div class="cart-product">
        <h5>Prix total</h5>
        <p><%= humanized_money_with_symbol order.total_price %> </p>
      </div>
    </div>
    <div class="trait_dessous"></div>
  <% end %>
</div>
