<% if @order_wines.count == 0 %>
  <div class="mess-no-wine-in-cart">
    <div class="container-global">
      <div class="contact-container">
        <h1>Votre panier Winee est vide</h1>
        <p>
          <%= link_to "Trouver un vin qui vous plait !", wines_path %>
        </p>
      </div>
    </div>
  </div>
<% else %>
  <div class="cart-container-global">
    <% @order_wines.each do |order_wine| %>
      <div class="cart-detailed-infos">
        <p><%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, order_order_wine_path(@order, order_wine), method: :delete, data: { confirm: "Are you sure ?"}, class:"delete-disguise" %></p>
        <div class="cart-product">
          <h5>Product</h5>
          <p> <%= cl_image_tag Wine.find(order_wine.wine_id).photo.key, height: 150, width: 100, crop: :fill %> </p>
        </div>
        <div class="cart-product-name">
          <p> <%= Wine.find(order_wine.wine_id).name %> </p>
        </div>
        <div class="cart-product-quantity">
          <h5>Quantité</h5>
          <p> <%= order_wine.quantity_of_wine %> </p>
        </div>
        <div class="cart-product-price-per-unit">
          <h5>Price</h5>
          <p> <%= Wine.find(order_wine.wine_id).price %> € </p>
        </div>
        <div class="cart-product-total-price">
          <h5>Total</h5>
          <p> <%= order_wine.quantity_of_wine * Wine.find(order_wine.wine_id).price %> € </p>
        </div>
      </div>
      <div class="trait_dessus"></div>
    <% end %>

    <div class="cart-validation-options">
      <div class="add-or-delivery-options">
        <div class="choice-category-cart">
          <div class="livraison btn-category" data-btncategory="livraison">
            Se faire livrer
          </div>
          <div class="ajout-cave btn-category" data-btncategory="ajout">
            Ajouter à ma cave
          </div>
        </div>
      </div>
      <div class="all-detailed-info-order">
        <div class=" detailed-info-titles">
          <p>Sous-Total</p>
          <div class="trait_dessous"></div>
          <p>Taxes</p>
          <div class="trait_dessous"></div>
          <p>Frais de livraison</p>
          <div class="trait_dessous"></div>
          <p>Total</p>
        </div>
        <div class="detailed-info-content">
          <p>1400 €</p>
          <p>280 €</p>
          <p>30 €</p>
          <p>1710 €</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
