<body>
  <div class="main-container">
     <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1491924778227-f225b115dd5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80)">
      <div class="container">
        <div class="search_bar">
          <form action= <%= wines_all_path %> >
            <input type="text"
                placeholder="Rechercher un vin..."
                name="search">
            <button href="#">
              Rechercher
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="card-value-container">
      <div class="card-value">
        <%= image_tag "en_ligne.png", alt: "alttext" %>
        <div class="card-value-infos">
          <h2> Votre cave en ligne </h2>
        </div>
      </div>
      <div class="card-value">
        <%= image_tag "securite.png", alt: "alttext" %>
        <div class="card-value-infos">
          <h2> Un stockage sécurisé </h2>
        </div>
      </div>
      <div class="card-value">
        <%= image_tag "livraison.png", alt: "alttext" %>
        <div class="card-value-infos">
          <h2> Une livraison rapide </h2>
        </div>
      </div>
    </div>

    <div class="cards-container">
      <div class="container-title">
        <h2>Notre sélection de la semaine</h2>
      </div>

      <div class="cards-wine-home">
        <% @wines.sample(6).each do |wine| %>
          <div class="card-wine-home">
            <%= link_to wine_path(wine), class: "link-wine" do %>
              <div class="card-wine-img">
                <%= cl_image_tag wine.photo.key, crop: :fill %>
              </div>
            <% end %>
            <div class="infos-quantity-actions">
              <div class="infos-quantity">
                <div class="infos">
                  <p class="wine-home"> <%= wine.name %> </p>
                  <p class="vineyard-home"> <%= wine.vineyard %> </p>
                </div>
                <div class="ratings-carroussel">
                  <i id="ratingstar"class="fas fa-star"></i>
                  <p id="notation"> <%= wine.reviews.average(:rating) %> </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container-avis">
    <h2> Ils parlent de nous 👇</h2>
    </div>
    <div class="container-carrousel">
      <div class="carousel">
        <div class="card-body-carousel">
          <h5 class="card-title"><strong>Martine</strong></h5>
          <h6 class="card-subtitle-carrouss">Amatrice de Bordeaux</h6>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testify">
            <i class="fas fa-quote-left"></i>
            <p class="card-text"><em> Manquant de place de mon appartement je n'avais pas de solution pour stocker mon vin, jusqu'à qu'un ami me parle de Winee.</em></p>
          </div>
        </div>
        <div class="card-body-carousel">
          <h5 class="card-title"><strong>Pierre-Louis</strong></h5>
          <h6 class="card-subtitle-carrouss">Gérant de la page Vivant de nature</h6>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="testify">
            <i class="fas fa-quote-left"></i>
            <p class="card-text"><em> Winee me permets de commander des supers bouteilles de vin nature et de les stocker dans les meilleures conditions.</em></p>
          </div>
        </div>
        <div class="card-body-carousel">
          <h5 class="card-title"><strong>Ben</strong></h5>
          <h6 class="card-subtitle-carrouss">Bon Vivant</h6>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="testify">
            <i class="fas fa-quote-left"></i>
            <p class="card-text"><em> Winee est la solution pour se faire livrer une bouteille de sa cave pour un diner à l'improviste avec des amis.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $('.cards-wine-home').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
  });

  $('.carousel').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
  });
</script>
</body>

