<div class="container-index">
  <div class="search-bar-container">
    <form class="search_bar" action="#">
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
  </div>

  <div class="filter-content">
    <div class="filters">
      <div class="choice-category">
        <div class="category-vin btn-category" data-btncategorycategory="Vin">
          Vins
        </div>
        <div class="category-spiritueux btn-category" data-btncategory="Spiritueux">
          Spiritueux
        </div>
      </div>
      <div class="all-filters">
        <div class="filter_category">
          <label for="category-select"><strong>Catégorie :</strong></label><br>
            <select name="categories" id="category-select">
                <option value="Rouge">Rouge</option>
                <option value="Blanc">Blanc</option>
                <option value="Rosé">Rosé</option>
                <option value="Champagne">Champagne</option>
            </select>
        </div>
        <div class="filter_cepage">
          <label for="cepage-select"><strong>Cépage :</strong></label><br>
            <select name="cepages" id="cepage-select">
                <option value="Viognier">Viognier</option>
                <option value="Grenache blanc">Grenache blanc</option>
                <option value="clairette">Clairette</option>
                <option value="roussanne">Roussanne</option>
                <option value="marsanne">Marsanne</option>
                <option value="marsanne">Syrah</option>
            </select>
        </div>
        <div class="filter_year">
          <% years=(1900..2021)%>
          <label for="year-select"><strong>Millésime :</strong></label><br>
            <select name="years" id="year-select">
              <%= years.each do |year| %>
                    <option value="France"><%= year %></option>
              <% end %>
            </select>
        </div>
      </div>
    </div>

      <div class="cards-container-all">
        <div class="cards-all">
          <% @wines.each do |wine| %>
            <div class="card" data-category="<%= wine.category %>">
              <%= link_to wine_path(wine), class: "link-wine" do%>
                <div class="card-wine-img">
                  <%= cl_image_tag wine.photo.key, crop: :fill %>
                </div>
              <% end %>
              <div class="infos-quantity-actions">
                <div class="infos-quantity">
                  <div class="infos">
                    <p> <%= wine.name %> </p>
                    <p> <%= wine.vineyard %> </p>
                  </div>
                  <div class="quantity">
                    <p> <%= wine.price %> € </p>
                  </div>
                </div>
                <div class="buttons-action">
                  <button class="add_to_basket_button">
                    <p>Ajouter au panier</p>
                  </button>
                  <button>
                    <p>Se faire livrer</p>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>

</div>



