<div class="container-index">
  <div class="search-bar-container">
    <form class="search_bar" action="#">
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
  </div>

  <div class="filter-content">
    <div class="filters">
      <div class="choice-category">
        <div class="category-vin btn-category" data-btncategory="Vin">
          Vins
        </div>
        <div class="category-spiritueux btn-category" data-btncategory="Spiritueux">
          Spiritueux
        </div>
      </div>

      <div class="all-filters">

        <div class="filter_category">
          <label for="category-select"><strong>Catégorie :</strong></label><br>
            <div id="list1" class="dropdown-check-list" tabindex="100">
              <span class="anchor">Choix :</span>
              <ul class="items">
                <li class="checkbox-cat dropdown-item p-0" data-categoryselect="Rouge"><input type="checkbox" hidden=true /> Rouge </li>
                <li class="checkbox-cat dropdown-item p-0" data-categoryselect="Blanc"><input type="checkbox" hidden=true /> Blanc </li>
                <li class="checkbox-cat dropdown-item p-0" data-categoryselect="Rosé"><input type="checkbox" hidden=true /> Rosé </li>
                <li class="checkbox-cat dropdown-item p-0" data-categoryselect="Champagne"><input type="checkbox" hidden=true /> Champagne </li>
              </ul>
            </div>
        </div>

<!--         <div class="filter_cepage">
          <label for="cepage-select"><strong>Cépage :</strong></label><br>
            <div id="list2" class="dropdown-check-list" tabindex="100">
              <span class="anchor">Choix :</span>
              <ul class="items">
                <li><input type="checkbox" /> Syrah </li>
                <li><input type="checkbox" /> Roussanne </li>
                <li><input type="checkbox" /> Viognier </li>
                <li><input type="checkbox" /> Grenache blanc </li>
                <li><input type="checkbox" /> Marsanne </li>
                <li><input type="checkbox" /> Roussanne </li>
              </ul>
            </div>
        </div> -->

        <div class="filter_country">
          <label for="country-select"><strong>Pays :</strong></label><br>
            <div id="list3" class="dropdown-check-list" tabindex="100">
              <span class="anchor">Choix :</span>
              <ul class="items">
                <li class="checkbox-country dropdown-item p-0" data-countryselect="France"><input type="checkbox" hidden=true/> France </li>
                <li class="checkbox-country dropdown-item p-0" data-countryselect="Italie"><input type="checkbox" hidden=true/> Italie </li>
                <li class="checkbox-country dropdown-item p-0" data-countryselect="Espagne"><input type="checkbox" hidden=true/> Espagne </li>
              </ul>
            </div>
        </div>

<!--         <div class="pretty p-icon p-toggle p-plain">
            <input type="checkbox" />
            <div class="state p-on checkbox-cat" data-categoryselect="Rouge">
                <i class="fas fa-wine-glass-alt"></i>
                <label>Rouge</label>
            </div>
            <div class="state p-off">

                <label>Rouge</label>
            </div>
        </div> -->

        <div class="filter_year">
          <label for="year-select"><strong>Millésime :</strong></label><br>
          <div id="list4" class="dropdown-check-list" tabindex="100">
            <% years=(1900..2021) %>
            <span class="anchor">Choix :</span>
            <ul class="items">
              <%= years.reverse_each do |year| %>
                <li class="checkbox-year dropdown-item p-0" data-yearselect="<%=year%>"><input type="checkbox" hidden=true/> <%= year %> </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>
  </div>


      <div class="cards-container-all">
        <div class="cards-all">
          <% @wines.each do |wine| %>
            <div class="card" data-category="<%= wine.category %>" data-country="<%= wine.country %>" data-year="<%= wine.year%>">
              <%= link_to wine_path(wine), class: "link-wine" do%>
                <div class="card-wine-img">
                  <%= cl_image_tag wine.photo.key, crop: :fill %>
                </div>
              <% end %>
              <div class="infos-quantity-actions">
                <div class="infos-quantity">
                  <div class="infos">
                    <p> <%= wine.name %> </p>
                    <p> <%= wine.vineyard %> </p>
                  </div>
                  <div class="quantity">
                    <p> <%= wine.price %> € </p>
                  </div>
                </div>
                <div class="buttons-action">
                  <button class="add_to_basket_button">
                    <p>Ajouter au panier</p>
                  </button>
                  <button>
                    <p>Se faire livrer</p>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>

</div>
