<div class="container-index">
  <div class="search-bar-container">
    <form class="search_bar" action= <%= wines_all_path %> >
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
    <%= link_to "Accéder à toutes les références", '/wines_all', class:"stock-btn"%>
  </div>

  <div class="filter-content-reco">
    <div class="recommandations-containers">
      <div class="recommandation-container">
        <div class="container-title">
          <p>Recommandations de la semaine</p>
        </div>
        <div class="cards-container">

        <div class="cards-all">
          <% @wines.sample(3).each do |wine| %>
            <%= render '/shared/wine_card', order: @order, order_wine: @order_wine, delivery: @delivery, delivery_product: @delivery_product, wine: wine %>
          <% end %>
        </div>
      </div>
    </div>

      <div class="recommandation-container">
        <div class="container-title">
          <p>Parce que vous aimez ...</p>
        </div>
        <div class="cards-container">


        <div class="cards-all">
          <% @wines.sample(3).each do |wine| %>
            <%= render '/shared/wine_card', order: @order, order_wine: @order_wine, wine: wine %>
          <% end %>
        </div>
      </div>
      </div>

      <div class="recommandation-container">
        <div class="container-title">
          <p>Quelques spiritueux</p>
        </div>
        <div class="cards-container">

        <div class="cards-all">
          <% @spirits.sample(3).each do |wine| %>
            <%= render '/shared/wine_card', order: @order, order_wine: @order_wine, wine: wine %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>