<div class="container-index">
  <div class="search-bar-container">
    <form class="search_bar" action= <%= wines_all_path %> >
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
  </div>

  <div class="filter-content">
    <div class="filters">
      <div class="choice-category">
        <div class="category-vin">
          Vins
        </div>
        <div class="category-spiritueux">
          Spiritueux
        </div>
      </div>
      <div class="all-filters">
        <div class="category ">
          <p>Categorie</p>
        </div>
        <div class="category">
          <p>Cépages</p>
        </div>
        <div class="category">
          <p>France</p>
        </div>
        <div class="category">
          <p>1999</p>
        </div>
      </div>
    </div>

    <div class="recommandations-containers">
      <div class="recommandation-container">
        <div class="container-title">
          <p>Recommandations de la semaine</p>
        </div>
        <div class="cards-container">

          <div class="cards-all">
            <% @wines.sample(3).each do |wine| %>
              <div class="card">
                <%= link_to wine_path(wine), class: "link-wine" do%>
                  <div class="card-wine-img">
                    <%= cl_image_tag wine.photo.key, crop: :fill %>
                  </div>
                <% end %>
                <div class="infos-quantity-actions">
                  <div class="infos-quantity">
                    <div class="infos">
                      <p> <%= wine.name %> </p>
                      <p> <%= wine.vineyard %> </p>
                    </div>
                    <div class="quantity">
                      <p> <%= wine.price %> € </p>
                    </div>
                  </div>
                  <div class="buttons-action">
                    <button class="add_to_basket_button">
                      <p>Ajouter au panier</p>
                    </button>
                    <button>
                      <p>Se faire livrer</p>
                    </button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="recommandation-container">
        <div class="container-title">
          <p>Parce que vous aimez ...</p>
        </div>
        <div class="cards-container">

          <div class="cards-all">
            <% @wines.sample(3).each do |wine| %>
              <div class="card">
                <%= link_to wine_path(wine), class: "link-wine" do %>
                  <div class="card-wine-img">
                    <%= cl_image_tag wine.photo.key, crop: :fill %>
                  </div>
                <% end %>
                <div class="infos-quantity">
                  <div class="infos">
                    <p> <%= wine.name %> </p>
                    <p> <%= wine.vineyard %> </p>
                  </div>
                  <div class="quantity">
                    <p> <%= wine.price %> € </p>
                  </div>
                </div>
                <div class="buttons-action">
                    <button class="add_to_basket_button">
                      <p>Ajouter au panier</p>
                    </button>
                    <button>
                      <p>Se faire livrer</p>
                    </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="recommandation-container">
        <div class="container-title">
          <p>Quelques spiritueux</p>
        </div>
        <div class="cards-container">

          <div class="cards-all">
            <% @spirits.sample(3).each do |spirit| %>
              <div class="card">
                <%= link_to wine_path(spirit), class: "link-wine" do %>
                  <div class="card-wine-img">
                    <%= cl_image_tag spirit.photo.key, crop: :fill %>
                  </div>
                <% end %>
                <div class="infos-quantity">
                  <div class="infos">
                    <p> <%= spirit.name %> </p>
                    <p> <%= spirit.vineyard %> </p>
                  </div>
                  <div class="quantity">
                    <p> <%= spirit.price %> € </p>
                  </div>
                </div>
                <div class="buttons-action">
                    <button class="add_to_basket_button">
                      <p>Ajouter au panier</p>
                    </button>
                    <button>
                      <p>Se faire livrer</p>
                    </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



