<div class="container_show_wine">
  <div class="search_bar">
    <form action="#">
      <input type="text"
          placeholder="Rechercher une bouteille..."
          name="search">
      <button href="#">
         Lancer la recherche
      </button>
    </form>
  </div>
  <div class="wine_show_card">
    <div class="wine_show_card_photo">
     <% if @wine.photo.attached? %>
        <%= cl_image_tag @wine.photo.key, height: 600, width: 400, :gravity=>"faces", crop: :fill %>
      <% else %>
        <img src="https://source.unsplash.com/z1C4U9-zeVs" alt="" id="photo-default">
      <% end %>
    </div>
    <div class="wine_show_card_infos">
      <h2><%= @wine.name %>, <%= @wine.year %></h2>
      <div class="wine_show_card_infos_details">
        <h3><%= @wine.vineyard%>, <%= @wine.country%></h3>
        <p><%= @wine.description %></p>
      </div>
      <div class="wine_show_card_infos_advices">
        <div class="wine_show_card_infos_advices_infos">
          <h5>Informations</h5>
          <!-- <p><strong>Région : </strong></p> -->
          <p><strong>Appellation : </strong><%= @wine.designation %></p>
          <p><strong>Catégorie : </strong><%= @wine.category %> </p>
          <p><strong>Cépages : </strong><%= @wine.grape_variety %></p>
          <p><strong>Contenance : </strong> 750 mL</p>
        </div>
        <div class="wine_show_card_infos_advices_service">
          <p><%= @wine.service %></p>
        </div>
      </div>
      <div class="wine_show_card_designation">
          <h8><strong>À propos de l'appellation :</strong> <%= @wine.designation %></h8>
          <p><%= @wine.designation_description %></p>
      </div>
    </div>


    <div class="wine_show_card_ordering">
      <button id="avis-btn" data-toggle="modal" data-target="#ReviewModal">
            Laisser un avis
      </button>
        <div class="modal fade " id="ReviewModal" tabindex="-1" role="dialog" aria-labelledby="ReviewModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ReviewModalLabel"> <strong>Commenter et noter ce vin</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [@wine, @review] do |f| %>
                  <%= f.input :comment %>
                  <%= f.input :rating, collection: 0..5 %>
                  <div class="modal-footer">
                    <button type="button" class="stock-btn" data-dismiss="modal">Annuler</button>
                    <%= f.submit class: 'modal-button' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      <div class="wine_show_card_ordering_space">
        <div class="quantity">
          <h5>Prix :</h5>
          <div class="box_quantity">
            <strong><%= @wine.price %>€</strong>
          </div>
        </div>
        <div class="ordering_buttons">
          <button class="basket_button" href="#">Ajouter à mon panier</button>
          <button class="delivery_button" href="#">Se faire livrer</button>
        </div>
      </div>
    </div>
  </div>

    <div class="review_show_card">
      <h2> <strong>Ils donnent leurs avis</strong> </h2>
      <div class="list-group">
        <% @wine.reviews.each do |review| %>
          <div class="total-review">
            <div class="usersinfos">
              <div class= "photouser">
              <% if review.user.photo.attached? %>
                <%= cl_image_tag review.user.photo.key, class: "avatar-review" %>
              <% else %>
                <%= image_tag "gaspou.png", class: "avatar-review" %>
              <% end %>
              </div>
              <div class="username">
                <%= review.user.username %>
              </div>

            </div>
            <li class="list-group-item">
              <small>
                <% count = 0 %>
                <% 5.times do %>
                  <% if review.rating > count %>
                    <i id="starscolor" class="fas fa-star"></i>
                  <% else %>
                    <i id="starscolor" class="far fa-star"></i>
                  <% end %>
                  <% count += 1 %>
                <% end %>
              </small>
              <p><%= review.comment %></p>
            </li>
          </div>
        <% end %>
      </div>
    </div>
</div>



