<div class="container-index">
  <div class="search-bar-container" id="search-bar-second">
    <form class="search_bar" action= <%= my_cellar_path %>>
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
    <button id="" class="stock-btn" data-toggle="modal" data-target="#exampleModal">
      Stocker une bouteille
    </button>
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> <strong>Stocker une bouteille</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(@winebox) do |f| %>
              <%= f.association :wine, class: 'select2' %>
              <%= f.input :quantity_of_wine, input_html: { value:"1", min: 1 } %>
              <%= f.input :pick_up_date, label: "Date de récupération de votre vin", as: :string, required: false, input_html: {id: "delivery_date"} %>
              <%= f.input :pick_up_address, input_html: { value: current_user.address }, label: "Adresse de récupération", as: :hidden %>
            <div id="map"
              style="width: 465px; height: 400px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-annuler-modal-livraison" data-dismiss="modal">Annuler</button>
            <%= f.submit 'Stocker', class: 'btn-valider-payer-modal-livraison' %>
          </div>
          <% end %>
          


          <%# <script>
            $('#.select2').select2({
                dropdownParent: $('#exampleModal')
            });
          </script> %>

        </div>
      </div>
    </div>
  </div>

  <div class="filter-content">
    <%= render '/shared/filters' %>
    <%= render '/shared/wine_card_cave', order: @order, order_wine: @order_wine,  delivery: @delivery, delivery_product: @delivery_product, wine:  @wine, winebox: @winebox %>

  </div>

</div>

