<div class="container-index">
  <div class="search-bar-container" id="search-bar-second">
    <form class="search_bar" action= <%= wines_all_path %>>
      <input type="text"
          placeholder="Rechercher un vin..."
          name="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    </form>
    <button id="" class="stock-btn" data-toggle="modal" data-target="#exampleModal">
      Stocker une bouteille
    </button>
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Stocker une bouteille</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(@winebox) do |f| %>
              <%= f.association :wine, class: 'select2' %>
              <%= f.input :quantity_of_wine %>
              <div class="modal-footer">
                <button type="button" class="stock-btn" data-dismiss="modal">Annuler</button>
                <%= f.submit class: 'modal-button' %>
              </div>
            <% end %>
          </div>

          <script>
            $('#.select2').select2({
                dropdownParent: $('#exampleModal')
            });
          </script>

        </div>
      </div>
    </div>
  </div>

  <div class="filter-content">
    <%= render '/shared/filters' %>
      <div class="cards-container-all">
        <h2> Mes bouteilles </h2>
        <div class="cards-all">
            <% @wineboxes.each do |winebox| %>
            <div class="card" data-category="<%= winebox.wine.category %>" data-country="<%= winebox.wine.country %>" data-year="<%= winebox.wine.year%>">
              <%= link_to wine_path(Wine.find(winebox.wine_id)), class: "link-wine" do%>
                <div class="card-wine-img">
                  <%= cl_image_tag Wine.find(winebox.wine_id).photo.key, crop: :fill %>
                </div>
                <div class="ratings">
                  <i id="ratingstar"class="fas fa-star"></i>
                  <p id="notation"> <%= Wine.find(winebox.wine_id).reviews.average(:rating) %> </p>
                </div>
              <% end %>
              <div class="infos-quantity-actions">
                <div class="infos-quantity">
                  <div class="infos">
                    <p id='wine_name'> <%= Wine.find(winebox.wine_id).name %> </p>
                    <p id='vineyard-infos' > <%= Wine.find(winebox.wine_id).vineyard %> </p>
                  </div>
                  <div class="quantity">
                    <p> <%= winebox.quantity_of_wine %> <i id="bottlewine" class="fas fa-wine-bottle"></i> </p>
                  </div>
                </div>
                <div class="buttons-action">
                  <button class="add_to_basket_button">
                    <p>Ajouter au panier</p>
                  </button>
                  <button class="delivery_button">
                    <p>Se faire livrer</p>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>

</div>

